div.twitter_content {
	width      : 100%;
	height     : 370px;
	overflow-y : auto;
}

div.twitter_content_row {
	margin-bottom: 5px;
}

div.twitter_content_row > img {
	 height       : 30px;
	 margin-right : 5px;
	 float        : left;
 }

div.twitter_content_row > div {
	color: #BDC3BD;
	font-size: 11px;
}