.icon-48-followed_profiles {
      background-image: url(../images/l_followed_profiles.png);
      padding-left:60px!important;
}

.icon-48-followed_profile {
      background-image: url(../images/l_followed_profiles.png);
      padding-left:60px!important;
}

