<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component"
	          label="COM_REDTWITTER_COMPONENT_LABEL"
	          description="COM_REDTWITTER_COMPONENT_DESC">

		<field name="profile_image"
		       type="radio"
		       default="1"
		       label="COM_REDTWITTER_PROFILE_IMAGE"
		       description="COM_REDTWITTER_PROFILE_IMAGE_DESC">
			<option value="1">COM_REDTWITTER_YES</option>
			<option value="0">COM_REDTWITTER_NO</option>
		</field>
		<field name="show_avatar"
		       type="radio"
		       default="1"
		       label="COM_REDTWITTER_SHOW_AVATAR"
		       description="COM_REDTWITTER_SHOW_AVATAR_DESC">
			<option value="1">COM_REDTWITTER_YES</option>
			<option value="0">COM_REDTWITTER_NO</option>
		</field>
		<field name="footer_link_text"
		       type="text"
		       default="redTWITTER"
		       label="COM_REDTWITTER_FOOTER_TEXT"
		       description="COM_REDTWITTER_FOOTER_TEXT_DESC"/>
		<field name="footer_link"
		       type="text"
		       default="http://www.redcomponent.com"
		       label="COM_REDTWITTER_FOOTER_LINK"
		       description="COM_REDTWITTER_FOOTER_LINK_DESC"/>
		<field name="date"
		       type="list"
		       default="Y-m-d"
		       label="COM_REDTWITTER_DATE_FORMAT"
		       description="COM_REDTWITTER_DATE_FORMAT_DESC">
			<option value="Y-m-d">Y-m-d</option>
			<option value="Y-m-d H:i:s">Y-m-d H:i:s</option>
			<option value="D-m-y">D-m-y</option>
		</field>

		<field name="characterset"
		       type="text"
		       default="UTF-8"
		       label="COM_REDTWITTER_CHARACTERSET"
		       description="COM_REDTWITTER_CHARACTERSET_DESC"/>
		<field name="userlimit"
		       type="text"
		       default="10"
		       label="COM_REDTWITTER_USERLIMIT"
		       description="COM_REDTWITTER_USERLIMIT_DESC"/>
		<field name="css_data"
		       type="textarea"
		       rows="10"
		       cols="50"
		       default=".twitter_followers{float:left;margin-right:20px;margin-bottom:0px;}.twitters_list{font-size:25px;margin-bottom:10px;color:#1960B0;}.userblock{background-color:#dddeee;margin-bottom:10px;border-bottom:;padding:10px;color:#486997;}.name{font-size:14px;font-weight:bold;}.date{font-size:12px;}"
		       label="COM_REDTWITTER_CSS_DATA"
		       description="COM_REDTWITTER_CSS_DATA_DESC"/>
	</fieldset>

	<fieldset name="permissions"
	          description="JCONFIG_PERMISSIONS_DESC"
	          label="JCONFIG_PERMISSIONS_LABEL"
			>

		<field name="rules"
		       type="rules"
		       component="com_redtwitter"
		       filter="rules"
		       validate="rules"
		       label="JCONFIG_PERMISSIONS_LABEL"
		       section="component"/>
	</fieldset>

</config>
